body{margin:0;
   padding: 0;
   background-color: rgba(2,2,2,0.99);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* display: flex;
   justify-content: center;*/
}
.options{display:flex;margin-left:auto;margin-right:8%;}
.options a{
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  color:rgb(120,120,120)
}
.options a:hover{color:rgb(180,180,180)}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 800px;*/
    margin: auto;
}
h3 {color:rgb(200,200,200)}


