.body{display:grid;
  justify-content:center;
  align-items:vertical-align;
  background-color: rgb(240,240,240);
}
.card{display:flex;background-color:rgb(243,243,243);padding: 15px;width:70vw;height:18vh auto;margin:8px;box-shadow:10px 5px 5px rgb(150,150,150)}
.card_avatar{border-radius:50%;width:75%;height:89%;}
.card_image{flex:0.1;}
.card_body{flex:0.9;}
.card_body .cardtitle{margin:0px;padding:0px;margin-left: 7px;}
.card_body .content{margin:0px;padding:0px;margin-left: 22px;font-size: 0.9em;margin-bottom: 25px;margin-top: 15px;}
.btn-warning{background-color: orange;font-weight:bold;margin-left:20px;border: none;border-radius: 2px; padding:5px;}
.btn-info{color:white;background-color: rgb(26,157,168);border: none;border-radius: 2px;width: auto;padding:5px;margin-left: 5px;}
.submition{font-size:0.59em;}
.container{overflow-y: scroll;height: 100vh;}
.pages{margin-left: 15px;background-color: rgb(235, 235, 235);display: flex;margin: auto;padding:0 100px;}
.pages a{
  margin: 7px;
  padding: 5px;
  cursor: pointer;

}
.pages a:hover,.pages a.active{
  color:red;
}
.loading{

  font-size: 4em;
  text-align: center;
  vertical-align: center;
}