
.todo_form{
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items:center;
   /* background-color: rgba(240, 240, 240,0.7);
    border:1px solid rgba(90,90,90,0.5);*/
    width:40vw;
    height:auto;
    /*padding:9px 2px;*/
  }
  .todo_input{width: 70%;}
  .todo_form .form_input{
      margin-top: 20px;
      width: 100%;
      border:1px solid rgba(90,90,90,0.5);
      height: 35px;
      background-color: rgb(222,222,222);
      outline: none;
      border-bottom: 2px solid rgb(130,130,130);
     /* font-size: 100%;
        */
  }
  .form_input::placeholder{color:transparent}
  input[type="text"]:focus{
      border-bottom:2px solid orangered;
  }
  label{display:block;
        width:0px;
        transform:translateY(-30px) translateX(8px);
        transform-origin: 0 0;
        color:rgb(110,110,110);
        font-weight:480;
        transition:ease 0.2s;}
  .form_input:focus + label,.form_input:not(:placeholder-shown) + label{
      transform:translateY(-60px);
      color:orangered;
      font-weight: 499;
      transition: ease 0.2s;
  }
  .todo_form button
  {
      height:70%;
      padding: 11px 15px;
      border: none;
      color:rgb(200,200,200);
      background-color: rgb(15,15,15);
      border:1px solid rgba(90,90,90,0.5);
      cursor: pointer;
  }
  .todo_form button:hover{background-color: rgb(40,40,40);}
  .todo_form button:focus{border: none;outline: none;}
  @media screen and (max-width:800px)
  {
      .todo_form{
          flex-direction: column;
          padding-bottom: 8px;
          
      }
  }