.modal{
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(88,88,88,0.41);
    display: none;
}
.title{margin-bottom: 8px;font-weight: bold;}
.modal.open{display:block}
.modal_body{
    background-color: rgba(235,235,235,1);
    width:44vw;
   /* padding: 50px 0;*/
   padding-bottom: 50px;
    margin:10% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
       
}
.modal_body input ,.modal_body button
 {  width:70%;

 }
 .modal_body input{
     border:none;
     background: none;
     background-color: rgba(220,220,220,0.8);
     border-bottom: 1px solid black;
     height:34px;
     margin-bottom: 22px;

 }
 .modal_body input:focus{
     outline: none;
 }
 .modal_body button{
     color:white;
     cursor: pointer;
     background-color: rgb(12,12,12);
     border:none;
     padding:5px 0;
 }
.close{
    margin-left:auto;
    margin-bottom:50px;
    margin-right:11px;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}