.todo_container{
    display: flex;
    width:45vw;
     margin-bottom: 2px;
    background-color: rgba(235,235,235,0.8);
    height:auto;padding: 0 15px;
    align-items: center;}
.todo_container.checked{
                background-color: rgba(70, 60, 60, 0.5);
    /*opacity: 0.7;*/}
.todo_container.checked .status{
                                opacity:1;}
.status a{
            z-index:2;}
.actions{
    margin-left:auto;
    display: flex;}
.status:hover ,.actions a :hover{
    border-radius: 50%;
    background-color: rgba(99,99,99,0.1);
}
.actions a{margin:8px;
       color:rgb(80,80,80);
            text-decoration: none;}
.actions a:hover{
    color:rgb(120,120,120)
}
.todos_container.checked .actions a:hover{
    cursor:pointer;
    color:rgb(170,170,170)
}
.todo_content{font-size: 17px;
                color:rgb(50,50,50);
                font-weight:22px;
                margin-left: 8px;}
.todo_content.checked{text-decoration: line-through;
                    color:rgba(235,235,235,0.8);
                    text-decoration-thickness:2px ;}