/*body{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}*/
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(248,248,248);
  margin: auto;
  margin-top: 90px;
  width:40vw;
  border:1px solid grey;

}
.app div{
  margin-left: 10%;
  margin-bottom: 15px;
}
.title{
  text-align:center;
}
.input{
  width:250px;
  padding: 3px;
}
.res{width:65%;border: 1px solid grey;}
.content{
  margin: auto;
}
