
.navbar{
    box-sizing: border-box;
    display:flex;
    width:100%;
    background-color:rgba(48, 48, 48 ,0.8);
    align-items: center;
    padding:0 10px;
    justify-content:space-between;}
    .links{display:flex;margin:auto;}
    .links li{display:inline-block;
        width:90%;
        padding-right:50px;
        height:50px;
        line-height: 50px;
        /*background-color:rgb(228,228,228);*/
    }
    .links li .link {margin-left:15px;
                    margin-top:15px;
                    text-decoration:none;
                    text-align: center;
                    font-weight:bold;
    }
    .name h3{color:rgb(192, 192, 192);}
    .links li a{color:rgb(177, 177, 177)}
    .links li a:hover{
    cursor:pointer;
    color:white;
    }